<app-header></app-header>
<div class="wrapper" style="font-family: 'Bell MT'">
  <div class="row p-5">
    <div class="col-md-4">
      <img class="img" src="/assets/img/sach5.jpg" alt="">
    </div>
    <div class="detail col-md-8">
      <h4 class="text-primary">Ái Tình Đầu Lưỡi - Cuốn sách nói về chuyện tình yêu .</h4>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <p>Product Code : 201710892</p>
          <p>Author: Song Ju Ka</p>
          <p>Translator :  Hoa Lư</p>
          <p>Number Of Page: 299</p>
          <p>Size: 14x20.5cm</p>
          <p>Release Date: 20-02-2013</p>
        </div>
        <div class="col-md-6">
          <div class="row">
            <p class="bg-dark opacity-50 text-white"> Giá bìa : 118.000đ</p>
          </div>
          <div class="row d-flex bg-success text-white">
            <div class="col-md-12 pt-4 pb-4">
              Giá Nhã Nam : 94.000đ (Đã có VAT)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
