<div class="container-fluid" style="background-image: url('https://images.pexels.com/photos/3778080/pexels-photo-3778080.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
  <div class="row p-5 d-flex justify-content-center align-content-center">
    <div class="p-5 col-lg-6 col-md-6 bg-light shadow">
      <h2>Đăng nhập</h2>
      <form class="mb-3">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Ghi nhớ</label>
        </div>
        <button type="submit" class="btn btn-success mb-3">Đăng nhập</button>
        <p>chưa có tài khoản ? hãy <button class="btn btn-success">Đăng ký</button> hoặc <button class="btn btn-primary">Đăng nhập qua facebook</button></p>
      </form>

      <hr>

      <h6>Quên mật khẩu</h6>
      <form>
        <div class="mb-3">
          <label for="findPassWord" class="form-label">Email</label>
          <input type="email" class="form-control" id="findPassWord" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-success">Tìm lại mật khẩu</button>
      </form>

    </div>
  </div>
</div>

