<div class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 p-2">
        <a href="">
          <img src="../../../assets/img/logo1.png" height="70"/>
        </a>
      </div>
      <div class="col-lg-6 p-2 text-success d-flex align-items-end justify-content-center">
        <a class="text-decoration-none me-2 text-success" href="">GIỚI THIỆU</a> |
        <a class="text-decoration-none me-2 ms-2 text-success" href="">LỊCH SỬ GIAO DỊCH</a> |
        <a class="text-decoration-none me-2 ms-2 text-success" href="">KIỂM TRA ĐƠN HÀNG</a>
      </div>
      <div class="col-lg-3 p-2 text-success d-flex align-items-end justify-content-end">
        <a class="text-decoration-none me-2 ms-2 text-success text-end" href="">ĐĂNG KÝ</a> |
        <a class="text-decoration-none ms-2 text-success text-end" href="">ĐĂNG NHẬP</a>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-success sticky-top shadow">
  <div class="container p-0">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown me-5">
          <a class="text-white nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            DANH MỤC SÁCH
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item me-5">
          <a class="text-white nav-link" href="#">SÁCH BÁN CHẠY</a>
        </li>
        <li class="nav-item me-5">
          <a class="text-white nav-link" href="#">CHƯƠNG TRÌNH KHUYẾN MÃI</a>
        </li>
        <li class="nav-item me-5">
          <a class="text-white nav-link" href="#">GIẢM GIÁ ĐẶC BIỆT</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light shadow" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
      </form>
      <button class="btn btn-outline-light ms-2 shadow" href="">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
          <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
          <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
      </button>
    </div>
  </div>
</nav>

<div class="container p-0">
  <div class="row mt-5">
    <div class="col-lg-12">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="http://static.nhanam.com.vn/thumb/0x0/crop/Features/Images/2019/4/25/6HHNAJ7E.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://img.cdnki.com/tien-si-dang-hoang-giang-la-ai---a03b7645001d8a627042dd48d8313fe4.wepb" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://img.cdnki.com/tien-si-dang-hoang-giang-la-ai---b3d406ccd423f04d9bc65124caea1649.wepb" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-12 text-center">
      <button class="btn btn-success shadow">SÁCH VĂN HỌC</button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2022/6/21/25TXXGOL.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2022/5/12/9YLI42GM.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2020/9/4/DKQYFA75.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2019/11/14/2QAYBLJW.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2019/11/14/C3F24YNQ.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2019/6/28/1A4LDY89.jpg" class="card-img-top" alt="...">
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2022/6/21/25TXXGOL.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2022/5/12/9YLI42GM.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2020/9/4/DKQYFA75.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2019/11/14/2QAYBLJW.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2019/11/14/C3F24YNQ.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-lg-2 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 150px;">
        <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2019/6/28/1A4LDY89.jpg" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
      <a class="text-decoration-none text-success" href="">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg>
        Giới thiệu
      </a><br>
      <a class="text-decoration-none text-success" href="">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg>
        Giới thiệu
      </a><br>
      <a class="text-decoration-none text-success" href="">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg>
        Giới thiệu
      </a>
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
  </div>
</div>

